/.idea/
/lightspeed-cache/
/journeymap/
/local/
/logs/
/PCL/
/resourcepacks/
/saves/
/星域世界new-natives/
/tlm_custom_pack/
/options.txt
/optionsof.txt
/patchouli_data.json
/reauth.toml
/title.yml
/usercache.json
/usernamecache.json
/星域世界new.jar
/星域世界new.json
/mods/
